<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">
<head>
  <title>封面</title>
  <style type="text/css">
    body {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* 使封面占满整个页面 */
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</head>
<body>
<div>
  <img src="cover.jpg" alt="封面图片"/>
</div>
</body>
</html>