name: Releases

on: workflow_dispatch

jobs:
  release-windows:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK and Maven
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Build executable
        shell: powershell
        run: sh deploy-windows.sh
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "target/SoNovel_win.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN  }}

  release-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK and Maven
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Build executable
        run: sh deploy-linux.sh
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "target/SoNovel_linux.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN  }}
